@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

:root {
    --orange: #F76E11;
    --coral: coral;
    --light-coral:#ffd6d6; 
    --white: #fff;
    --footer-gray: #2B2B2B;
    --black: black;
    --box-shadow: 0 0.87rem 1.75rem rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.container {
    margin: auto;
    background: radial-gradient(var(--white), var(--light-coral));
    padding: 0 10vw 2rem 10vw;
}
h2 {
    text-align: center;
    letter-spacing: 0.2rem;
    margin: 2rem;
}
/*HEADER */
.navbar {
    display: flex;
    justify-content: space-between;

}
.logo {
    flex-basis: 5rem;
    font-family: 'Federo', sans-serif;
    color: var(--orange);
    font-size: 3rem;
    padding: 0 1rem;
    border: solid 7px var(--orange);
    text-align: center;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}
nav ul {
    display: flex;
    justify-items: flex-end;
    list-style: none;
}
nav ul li {
    flex-basis: 15%;
    margin: 1rem;
}
.nav-pages a {
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 1.19rem;
}
.nav-pages .home {
    color: var(--orange);
    border-bottom: dotted 2px var(--orange);
}
.nav-pages a:focus {
    color: var(--orange);
    border-bottom: dotted 2px var(--orange);
}
.nav-pages a:hover {
    color: var(--orange);
    border-bottom: dotted 2px var(--orange);
}
.nav-icon {
    font-size: 1.3rem;
}

.product-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10rem;
    align-items: center;
    margin: auto;
}
.vivir-header {
    flex-basis: 50%;
}
.v-btn {
    padding: 1rem;
    font-size: 1.4rem;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 1.25rem;
    border: none;
    border: solid 3px var(--orange);
    margin-top: 1.5rem;
    cursor: pointer;
}
.v-btn.explore-btn {
  font-weight: normal;
}
.v-btn:hover {
    background: none;
    color: var(--orange);
}
.vivir-img img {
    width: 25rem;
    margin-left: 5rem;
    margin-top: 3rem;
}
.slogan {
    font-family: 'Satisfy', cursive;
    font-size: 3.75rem;
    color: var(--black);
    font-weight: bold;
   margin: 1rem 0;
}
.info {
    font-size: 18px;
}
/*FEATURED PRODUCTS*/
.featured-products {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
}
.card-with-shadow {
    box-shadow: none;
    transition: 0.2s ease;
}
.card-with-shadow:hover {
    box-shadow: var(--box-shadow);
}
.card-image img {
    height: 18rem;
}
.card-text {
    padding-left: 0.5rem;
}
.card-text span {
    font-size: 18px;
    font-weight: 600;
}
.wishlist {
    margin-top: 12rem;
    background-color: var(--coral);
}
.ratings {
    margin-top: 10rem;
}
/* EXCLUSIVE PRODUCT */
.exclusive-product {
    height: 22rem;
    padding: 0;
    padding-top: 5rem;
}
.ex-product-img img {
    height: 22rem;
    margin-top: -2rem;
}
.puma-logo img {
    height: 6.25rem;
    width: 9.4rem;
}
.product-info {
    font-size: 1.25rem;
    font-weight: 500;
}
#check-btn {
    font-size: 1.25rem;
    margin-top: 1rem;
}
/* SHOP BY CATEGORIES */
.shop-by-categories {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}
.responsive-image img:hover {
    box-shadow: var(--box-shadow);
    transition: 0.2s ease;
}
.cat-ip {
    margin-top: -3.8rem;
    margin-left: -11rem;
}
#cat-checkbox {
    width: 25px;
    height: 25px;
}
/* FOOTER */
footer {
    display: flex;
    background-color: var(--footer-gray);
    color: var(--white);
    font-size: 0.87rem;
    justify-content: space-evenly;
    align-items: center;
    height: 14.2rem;
    margin-bottom: 0;
}
footer ul {
    list-style: none;
}
footer ul li a{
    color: var(--white);
}
.app-badges {
    display: flex;
    justify-content: space-evenly;
}
.app-badges img {
    width: 8rem;
}
.footer-logo {
    width: 5rem;
}
.footer-logo .logo {
    font-size: 2rem;
    border: solid 5px var(--orange);
    margin-bottom: 0.5rem;
}
.shopping-categories{
    text-align: center;
}
.shopping-categories span {
    text-decoration: underline;
}
.spaced-list ul li{
    font-size: 0.9rem;
}
.useful-links {
    font-size: 0.9rem;
    margin-top: 3rem;
}
.useful-links span {
    margin: 3rem 0 1rem 3rem;
}
.footer-links {
    display: flex;
    justify-content: space-around;
}
.footer-links a {
    font-size: 1.5rem;
    color: var(--white);
    flex-basis: 15%;
    margin: 0.5rem;
}
@media only screen and (max-width: 1236px) {
    .logo {
        margin-left: -4rem;
    }
    .nav-pages {
        margin-left: -3rem;
    }
    .product-container {
        height: 25rem;
    }
    .vivir-img img {
        width: 18rem;
    }
    .slogan {
        font-size: 3rem;
    }
    .explore-btn {
        font-size: 1.25rem;
    }
    .featured-products .card {
        width: 13rem;
    }
    .shop-by-categories {
        width: 100vw;
    }
    .shop-by-categories {
        grid-template-columns: repeat(6, 1fr);
    }
}
@media only screen and (max-width: 850px) {
    .vivir-img img {
        width: 17rem;
    }
    .slogan {
        font-size: 2.5rem;
    }
    
}
@media only screen and (max-width: 720px) {
    .vivir-img img {
        width: 12rem;
        flex-basis: 30%;
    }
    .slogan {
        font-size: 2.5rem;
       
    }
    .exclusive-product {
        padding: 0;
    }
    .ex-product-img img {
        height: 15rem;
    }
    .puma-logo img {
        width: 5rem;
        height: 3rem;
        margin-right: 2rem;
    }
    #check-btn {
        width: 10rem;
        font-size: 1.1rem;
    }
    
}
@media only screen and (max-width: 610px) {
    .vivir-about .slogan {
        font-size: 2rem;
        width: 300%;
    }
    .logo {
        margin-left: -2rem;
        font-size: 2rem;
        width: 6rem;
    }
    .product-container {
        height: 28rem;
    }
    .explore-btn {
        width: 10rem;
    }
    footer, .search-input {
        display: none;
    }
}
@media only screen and (max-width: 480px) {
    .navbar {
        position: fixed;
        top: 0;
        z-index: 3;
        background: radial-gradient(var(--white), var(--light-coral));
        margin-left: -2.5rem;
        padding-right: 6rem;
    }
    .product-container {
        flex-direction: column;
        margin-top: 3.6rem;
        height: 22rem;
    }
    .info {
        font-size: 1rem;
    }
    .vivir-img img {
        display: none;
    }
    .logo {
        width: 4rem;
        font-size: 1.5rem;
        margin-left: 8px;
    }
    .nav-pages {
        margin-left: auto;
    }
    .nav-pages .home-link {
        display: none;
    }
    .nav-pages li {
        margin-left: 0;
    }
    .nav-pages li a {
        font-size: 1rem;
    }
    footer {
        display: none;
    }
    .featured-products, .product-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        justify-content: space-evenly;
        align-content: center;
    }
    .featured-products .card, .product-row .card {
        width: 10rem;
        height: 17rem;
    }
    .card-image img {
       height: 12rem;
    }
    .ratings {
        margin-top: 4rem;
    }
    .wishlist {
        margin-left: 7.5rem;
        margin-top: 6.2rem;
        font-size: 1rem;
    }
    .card-text span {
        font-size: 1rem;
    }
    .card-text p {
        font-size: 12px;
    }
    .price:nth-of-type(1) {
        font-size: 6px;
    }
    .exclusive-product {
        height: 13rem;
        flex-direction: row;
        padding-top: 2rem;
        padding-bottom: 1rem;
        margin-top: 0;
    } 
    div.ex-product-img img {
        height: 10rem;
        margin: auto;
        
    }
    .exclusive-info {
       margin-left: -40%;
    }
    .puma-logo {
        visibility: hidden;
    }
    .ex-product-slogan {
        font-size: 1.8rem;
    }
    .product-info {
        font-size: 1rem;
    }
    #check-btn {
        width: 8rem;
        font-size: 1rem;
        padding: 8px;
    }
    .shop-by-categories {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .shop-by-categories div {
        width: 150%;
    }
    
}