@import url("https://liniui.netlify.app/component.css");
@import url("https://vivirfashion.netlify.app/style.css");
@import url("https://vivirfashion.netlify.app/products.css");
@import url("https://vivirfashion.netlify.app/cart/cart.css");
@import url("https://vivirfashion.netlify.app/wishlist/wishlist.css");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Poppins';
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.shop-by-categories {
  display: flex;
  margin: auto;
}
